/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
/* Colours */
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --light-blue: hsl(200, 100%, 72%);
  --very-light-red-white: hsl(26, 100%, 99%);
  --vw-perc-mobile: 3.75;
  --vw-perc-desktop: 7.5;
}

/* Fonts */
/* Media Query break points */
/* Typography */
h1, h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 54rem;
  padding: 2.5rem 2rem;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 500px) {
  .header {
    background-image: url("../images/desktop/image-header.jpg");
    height: 73rem;
  }
}
.header__nav-bar {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .header__nav-bar {
    padding: 0 2rem;
  }
}
.header__nav-bar .logo {
  display: flex;
  flex-grow: 1;
}
.header__nav-bar .logo-svg {
  width: 124px;
  height: 24px;
  fill: var(--white);
}
@media only screen and (min-width: 768px) {
  .header__nav-bar .logo-svg {
    width: 155px;
    height: 30px;
  }
}
.header__nav-bar .nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: 9.4rem;
  gap: 0;
  flex-direction: column;
  background-color: var(--white);
  width: calc(100vw - 4rem);
  margin: 0 2rem;
  padding: 2.5rem;
  align-items: center;
  transition: 0.3s;
}
@media only screen and (min-width: 768px) {
  .header__nav-bar .nav-menu {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: transparent;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 5rem;
  }
}
.header__nav-bar .nav-menu__item {
  list-style: none;
  margin: 1.5rem 0;
}
.header__nav-bar .nav-menu__item-button {
  margin: 2.5rem 0;
}
@media only screen and (min-width: 768px) {
  .header__nav-bar .nav-menu__item {
    margin: 0;
  }
}
.header__nav-bar .nav-menu__item-link {
  color: var(--dark-grayish-blue);
  text-decoration: none;
  transition: 0.7s ease;
}
.header__nav-bar .nav-menu__item-link:hover {
  color: var(--grayish-blue);
}
@media only screen and (min-width: 768px) {
  .header__nav-bar .nav-menu__item-link {
    color: white;
    font-size: 1.6rem;
  }
}
.header__nav-bar .nav-menu__item-link-button {
  font-family: "Fraunces";
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  padding: 1.5rem 3rem;
  background-color: var(--yellow);
  border-radius: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .header__nav-bar .nav-menu__item-link-button {
    background-color: white;
    font-size: 1.4rem;
  }
  .header__nav-bar .nav-menu__item-link-button:hover {
    background-color: var(--light-blue);
    color: var(--white);
    transition: 0.7s;
  }
}
.header__nav-bar .nav-menu::before {
  content: "";
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  top: -2.4rem;
  left: calc(100% - 2.4rem);
  background-color: var(--white);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
@media only screen and (min-width: 768px) {
  .header__nav-bar .nav-menu::before {
    content: none;
  }
}
.header__nav-bar .nav-menu.active {
  left: 0;
  transition: 0.3s;
}
.header__nav-bar .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .header__nav-bar .hamburger {
    display: none;
  }
}
.header__nav-bar .hamburger__bar {
  display: block;
  width: 2.4rem;
  height: 0.2rem;
  margin: 0.25rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}
.header__nav-bar .hamburger.active .hamburger__bar:nth-child(2) {
  opacity: 0;
}
.header__nav-bar .hamburger.active .hamburger__bar:nth-child(1) {
  transform: translateY(4.5px) rotate(45deg);
}
.header__nav-bar .hamburger.active .hamburger__bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.header__title {
  font-size: 4rem;
  padding: 8rem 0 5rem 0;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: var(--white);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header__title {
    padding: 10rem 0 8rem 0;
    font-size: 5rem;
  }
}
.header__arrow-down {
  display: flex;
  justify-content: center;
}

main section.text-image .transform, main section.text-image .stand-out {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));
  color: var(--very-dark-desaturated-blue);
}
main section.text-image .transform__image img, main section.text-image .stand-out__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section.text-image .transform__text, main section.text-image .stand-out__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: calc(60% / var(--vw-perc-mobile)) calc(35% / var(--vw-perc-mobile));
  background-color: var(--very-light-red-white);
}
@media only screen and (min-width: 750px) {
  main section.text-image .transform__text, main section.text-image .stand-out__text {
    align-items: flex-start;
    text-align: left;
    padding: 25% 20%;
  }
}
main section.text-image .transform__text .heading-2, main section.text-image .stand-out__text .heading-2 {
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 750px) {
  main section.text-image .transform__text .heading-2, main section.text-image .stand-out__text .heading-2 {
    text-align: left;
    font-size: 4.5rem;
    line-height: 5.5rem;
    padding-bottom: 3rem;
  }
}
main section.text-image .transform__text p.text, main section.text-image .stand-out__text p.text {
  color: var(--dark-grayish-blue);
  padding-bottom: 3rem;
  font-size: 1.7rem;
  line-height: 2.8rem;
}
@media only screen and (min-width: 750px) {
  main section.text-image .transform__text p.text, main section.text-image .stand-out__text p.text {
    padding-bottom: 5rem;
  }
}
main section.text-image .transform__text a, main section.text-image .stand-out__text a {
  text-indent: 1rem;
  text-decoration: none;
}
main section.text-image .transform__text a:hover > hr, main section.text-image .stand-out__text a:hover > hr {
  opacity: 1;
}
main section.text-image .transform__text .more, main section.text-image .stand-out__text .more {
  display: inline-block;
  font-family: "Fraunces", serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 750px) {
  main section.text-image .transform__text .more, main section.text-image .stand-out__text .more {
    font-size: 1.5rem;
  }
}
main section.text-image .transform__text .more hr, main section.text-image .stand-out__text .more hr {
  margin-top: -0.5em;
  border: none;
  border-bottom: 1rem solid;
  opacity: 0.3;
  border-radius: 20%;
  width: calc(100% + 1rem);
}
main section.text-image .transform .transform__text hr {
  border-color: var(--yellow);
}
main section.text-image .stand-out .stand-out__text hr {
  border-color: var(--soft-red);
}
@media only screen and (min-width: 750px) {
  main section.text-image .transform .transform__text {
    grid-area: 1/1/2/2;
  }
}
main section.graphic-photo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));
}
main section.graphic-photo .graphic, main section.graphic-photo .photography {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 750px) {
  main section.graphic-photo .graphic, main section.graphic-photo .photography {
    display: flex;
    flex-direction: column;
  }
}
main section.graphic-photo .graphic .heading-2, main section.graphic-photo .photography .heading-2 {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 39rem;
  font-size: 3rem;
  line-height: 3.5rem;
  padding-bottom: 2rem;
}
main section.graphic-photo .graphic .text, main section.graphic-photo .photography .text {
  font-size: 1.6rem;
  padding: 0rem 2rem 6rem;
  line-height: 2.8rem;
  text-align: center;
}
@media only screen and (min-width: 750px) {
  main section.graphic-photo .graphic .text, main section.graphic-photo .photography .text {
    padding: 0 24% 6rem;
  }
}
main section.graphic-photo .graphic {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  color: var(--dark-desaturated-cyan);
}
@media only screen and (min-width: 445px) {
  main section.graphic-photo .graphic {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
}
main section.graphic-photo .photography {
  background-image: url("../images/mobile/image-photography.jpg");
  color: var(--dark-blue);
}
@media only screen and (min-width: 445px) {
  main section.graphic-photo .photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}
main .testimonials {
  background-color: var(--very-light-red-white);
  padding-bottom: 3rem;
  padding: 15% 5%;
}
@media only screen and (min-width: 750px) {
  main .testimonials {
    padding: 10% 7.5%;
  }
}
main .testimonials__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grayish-blue);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding-bottom: 7rem;
}
main .testimonials .container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  row-gap: 9rem;
}
main .testimonials .container-flex .testimonial {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  min-width: 375px;
  padding: 0 2.5rem;
}
main .testimonials .container-flex .testimonial__picture {
  align-self: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
main .testimonials .container-flex .testimonial__quote {
  color: var(--very-dark-grayish-blue);
  line-height: 3rem;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 750px) {
  main .testimonials .container-flex .testimonial__quote {
    height: 12rem;
  }
}
main .testimonials .container-flex .testimonial__caption--name {
  font-family: "Fraunces", serif;
  margin-bottom: 1rem;
}
main .testimonials .container-flex .testimonial__caption--role {
  font-family: "Barlow", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--grayish-blue);
}
main .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));
}
main .gallery .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18.75rem, 100%), 1fr));
}
main .gallery .gallery img {
  width: 100%;
  display: block;
}

.footer {
  background-color: var(--dark-moderate-cyan);
  background-color: #90d4c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  padding: 7rem;
}
.footer .logo {
  fill: var(--dark-desaturated-cyan);
  width: 155px;
  height: 30px;
}
.footer__nav-bar {
  width: 100%;
  padding: 4.5rem 0 9rem;
}
.footer__nav-bar .nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.footer__nav-bar .nav-menu__item-link {
  text-decoration: none;
  color: var(--dark-moderate-cyan);
}
.footer__nav-bar .nav-menu__item-link:hover {
  color: var(--white);
  transition: 0.7s;
}
.footer .social-icons {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.footer .social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--dark-desaturated-cyan);
}
.footer .social-icons .icon:hover {
  fill: var(--white);
  cursor: pointer;
  transition: 0.7s;
}

/*# sourceMappingURL=style.css.map */
