/* Colours */
:root {
    // Primary
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); // (graphic design text)
    --dark-blue: hsl(198, 62%, 26%); // (photography text)
    --dark-moderate-cyan: hsl(168, 34%, 41%); // (footer)
    
    // Neutral
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --light-blue: hsl(200, 100%, 72%);
    --very-light-red-white: hsl(26, 100%, 99%);

    // Viewport width percentages
    --vw-perc-mobile: 3.75;
    --vw-perc-desktop: 7.5;
}

/* Fonts */
$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Fraunces', serif;


/* Media Query break points */
$bp-2-columns: 750px; // sections text-image and graphic-photo in 2 columns
$bp-desktop: 768px; // minimum pixels desktop view

/* Typography */
h1, h2 {
    font: {
        family: $font-secondary;
        weight: 900;
    }
}

h2 {
    font: {
        family: $font-secondary;
        weight: 900;
    }
}


/* Global reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100vh;
    
    font: {
        family: $font-primary;
        size: 1.8rem;
    }
}



.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    height: 54rem;
    padding: 2.5rem 2rem;

    @media only screen and (min-width: $bp-desktop) {
        padding: 4rem 2rem;
    }

    background: {
        image: url('../images/mobile/image-header.jpg');
        repeat: no-repeat;
        position: center bottom;
        size: cover;       
    }

    @media only screen and (min-width: 500px) {
        background-image: url('../images/desktop/image-header.jpg');
        height: 73rem;
    }

    &__nav-bar {
        display: flex;

        @media only screen and (min-width: $bp-desktop) {
            padding: 0 2rem;
        }

        & .logo {
            display: flex;
            flex-grow: 1;
            
            &-svg {
                    width: 124px;
                    height: 24px;
                    fill: var(--white);

                    @media only screen and (min-width: $bp-desktop) {
                        width: 155px;
                        height: 30px;
                    }
                }     
        }

        

        & .nav-menu {
            display: flex;
            position: fixed;
            left: -100%;
            top: 9.4rem;
            gap: 0;
            flex-direction: column;
            background-color: var(--white);
            width: calc(100vw - 4rem);
            margin: 0 2rem;
            padding: 2.5rem;
            align-items: center;
            transition: 0.3s;

            @media only screen and (min-width: $bp-desktop) {
                display: flex;
                position: static;
                flex-direction: row;
                background-color: transparent;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 0;
                margin: 0;
                gap: 5rem;
            }

            &__item {
                list-style: none;
                margin: 1.5rem 0;

                &-button {
                    margin: 2.5rem 0;
                }

                @media only screen and (min-width: $bp-desktop) {
                    margin: 0;
                }

                &-link {
                    color: var(--dark-grayish-blue);
                    text-decoration: none;
                    transition: 0.7s ease;

                    &:hover {
                        color: var(--grayish-blue);
                    }

                    @media only screen and (min-width: $bp-desktop) {
                        color: white;
                        font-size: 1.6rem;
                    }

                    &-button {
                        font: {
                            family: 'Fraunces';
                            size: 1.4rem;
                            weight: 700;
                        }
                        color: var(--very-dark-desaturated-blue);
                        padding: 1.5rem 3rem;
                        background-color: var(--yellow);
                        border-radius: 3rem;
                        text-decoration: none;
                        text-transform: uppercase;

                        @media only screen and (min-width: $bp-desktop) {
                            background-color: white;
                            font-size: 1.4rem;

                            &:hover {
                                background-color: var(--light-blue);
                                color: var(--white);
                                transition: 0.7s;
                            }
                        }
                    }
                }
            }
        }

        & .nav-menu::before {
            content: "";
            position: absolute;
            height: 2.4rem;
            width: 2.4rem;
            top: -2.4rem;
            left: calc(100% - 2.4rem);
            background-color: var(--white);
            clip-path: polygon(0 100%, 100% 0, 100% 100%);

            @media only screen and (min-width: $bp-desktop) {
                    content: none;
                }
        }

        & .nav-menu.active {
            left: 0;
            transition: 0.3s;
        }

        & .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            cursor: pointer;

            @media only screen and (min-width: $bp-desktop) {
                display: none;
            }

            &__bar {
                display: block;
                width: 2.4rem;
                height: .2rem;
                margin: .25rem auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: var(--white);
            }
        }

        // Switch from hamburger to X

        & .hamburger.active .hamburger__bar:nth-child(2) {
            opacity: 0;
        }

        & .hamburger.active .hamburger__bar:nth-child(1) {
            transform: translateY(4.5px) rotate(45deg);
        }

        & .hamburger.active .hamburger__bar:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
    }

    

    &__title {
        font-size: 4rem;
        padding: 8rem 0 5rem 0;
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: var(--white);
        text-align: center;

        @media only screen and (min-width: $bp-desktop) {
            padding: 10rem 0 8rem 0;
            font-size: 5rem;
        }
    }

    &__arrow-down {
        display: flex;
        justify-content: center;
    }

}

main {

    section.text-image {
    
        .transform, .stand-out {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));

            color: var(--very-dark-desaturated-blue);

            &__image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            &__text {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                //padding: 6rem 3.5rem in percentages based from 375px;
                padding: calc(60% / var(--vw-perc-mobile)) calc(35% / var(--vw-perc-mobile));

                @media only screen and (min-width: $bp-2-columns) {
                    align-items: flex-start;
                    text-align: left;
                    padding: 25% 20%;
                }

                background-color: var(--very-light-red-white);

                .heading-2 {

                    font-size: 3rem;
                    text-align: center;
                    line-height: 3.5rem;
                    padding-bottom: 2rem;
                
                    @media only screen and (min-width:$bp-2-columns) {
                        text-align: left;
                        font-size: 4.5rem;
                        line-height: 5.5rem;
                        padding-bottom: 3rem;
                    }

                }

                p.text {
                    color: var(--dark-grayish-blue);
                    padding-bottom: 3rem;
                    font-size: 1.7rem;
                    line-height: 2.8rem;

                    @media only screen and (min-width:$bp-2-columns) {
                        padding-bottom: 5rem;
                    }
                }

                a {
                    text-indent: 1rem;
                    text-decoration: none;

                    &:hover > hr {
                        opacity: 1;
                    }
                }

                .more {
                    display: inline-block;
                    font: {
                        family: $font-secondary;
                        size: 1.4rem;
                        weight: 900;    
                    }

                    @media only screen and (min-width:$bp-2-columns) {
                        font-size: 1.5rem;
                    }

                    color: var(--very-dark-desaturated-blue);
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;

                    hr {
                        margin-top: -0.5em;
                        border: none;
                        border-bottom: 1rem solid;
                        opacity: 0.3;
                        border-radius: 20%;
                        width: calc(100% + 1rem);
                    }
                }
            }
        }
        
        .transform .transform__text hr {
            border-color: var(--yellow);
        }

        .stand-out .stand-out__text hr {
            border-color: var(--soft-red);
        }

        .transform .transform__text {

            @media only screen and (min-width: $bp-2-columns) {
                grid-area: 1/1 / 2/2;
            }
        }
    }

    section.graphic-photo {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));

        .graphic, .photography {

            @media only screen and (min-width:$bp-2-columns) {
                display: flex;
                flex-direction: column;
            }
        
                background: {
                    position: top center;
                    size: cover;
                    repeat: no-repeat;
                }
        
                & .heading-2 {
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    padding-top: 39rem;

                    font-size: 3rem;
                    line-height: 3.5rem;
                    padding-bottom: 2rem;        
                }
        
                & .text {
                    font-size: 1.6rem;
                    padding: 0rem 2rem 6rem;
                    line-height: 2.8rem;
                    text-align: center;

                    @media only screen and (min-width: $bp-2-columns) {
                        padding: 0 24% 6rem;
                    }
                }
            }
        
        
        .graphic {
            background-image: url('../images/mobile/image-graphic-design.jpg');
            color: var(--dark-desaturated-cyan);

            @media only screen and (min-width: 445px) {
                background-image: url('../images/desktop/image-graphic-design.jpg');
            }
        }
        
        .photography {
            background-image: url('../images/mobile/image-photography.jpg');
            color: var(--dark-blue);

            @media only screen and (min-width: 445px) {
                background-image: url('../images/desktop/image-photography.jpg');
            }
        }
    }

    .testimonials {
        background-color: var(--very-light-red-white);
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));
        //padding-top: 5rem;
        padding-bottom: 3rem;
        // column-gap: 2.5rem;
        // row-gap: 7rem;
        padding: 15% 5%;

        @media only screen and (min-width: $bp-2-columns) {
            padding: 10% 7.5%;
        }      

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;

            color: var(--grayish-blue);
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            padding-bottom: 7rem;
        }

        .container-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            row-gap: 9rem;

            .testimonial {
                display: flex;
                flex-direction: column;
                width: 33.33%;
                min-width: 375px;
                padding: 0 2.5rem;
            
                &__picture {
                    align-self: center;
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;
                    margin-bottom: 3rem;
        
                }
        
                &__quote {
                    color: var(--very-dark-grayish-blue);
                    line-height: 3rem;
                    margin-bottom: 3rem;
        
                    @media only screen and (min-width: $bp-2-columns) {
                        height: 12rem; // max. 4 lines of quote
                    }
                }
        
                &__caption {

                    &--name {
                        font: {
                            family: $font-secondary;
                        }
        
                        margin-bottom: 1rem;
                    }
        
                    &--role {
        
                        font: {
                            family: $font-primary;
                            size: 1.4rem;
                            weight: 700;
                        }
        
                        color: var(--grayish-blue);
                    }
                }
            }
        }  
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));

        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(18.75rem, 100%), 1fr));

            img {
                width: 100%;
                display: block;                       
            }
        }

    }
}

.footer {
    
    background-color: var(--dark-moderate-cyan);
    background-color: #90d4c5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
    padding: 7rem;
   
    .logo {
        fill: var(--dark-desaturated-cyan);
        width: 155px;
        height: 30px;
    }

    &__nav-bar {
        width: 100%;
        padding: 4.5rem 0 9rem;

        & .nav-menu {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 5rem;

            &__item {

                &-link {
                    text-decoration: none;
                    color: var(--dark-moderate-cyan);

                    &:hover {
                        color: var(--white);
                        transition: 0.7s;
                    }
                }

            }

        }

    }
    
    .social-icons {
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .icon {
                width: 20px;
                height: 20px;
                fill: var(--dark-desaturated-cyan);

                &:hover {
                    fill: var(--white);
                    cursor: pointer;
                    transition: 0.7s;
                }
            }        
        
    }

}
